body {
  background-color: #bee1e6;
}
h1 {text-align:center;
  color: #3f37c9;
  font-family: verdana;
  font-size: 500%;
}
p {text-align:center;
   color: #f94144;
  font-family: Trebuchet MS;
  font-size: 200%;
}
